{% load static %}
<html>
    <head>
        <title>Media Tracker</title>
        <link href="{% static 'tracker/css/bootstrap.min.css' %}" rel="stylesheet"></link>
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet" type="text/css" />
        <link href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous" rel="stylesheet" />
        <link type="text/css" href="{% static 'tracker/css/style.css' %}" rel="stylesheet" />
        {% block stylesheet %}{% endblock %}
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand navbar-dark fixed-top bg-dark">
                <div class="container navbar-container">
                    <a class="navbar-brand" href="{% url 'tracker:post_list' %}">Media Tracker</a>
                    <div class="collapse navbar-collapse" id="navbarsExample07">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="{% url 'tracker:post_list' %}">Posts <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'tracker:tracker_list' %}">Trackers</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-10 col-md-10 col-sm-12 col-12">
                    {% block content %}
                    {% endblock %}
                    </div>
                </div>
            </div>
        </main>

        <footer>
            
        </footer>

        <script src="{% static 'tracker/src/jquery-3.3.1.min.js' %}"></script>
        <script src="{% static 'tracker/src/popper.min.js' %}"></script>
        <script src="{% static 'tracker/src/bootstrap.min.js' %}"></script>
        <script src="{% static 'tracker/src/script.js' %}"></script>
        {% block javascript %}{% endblock %}
    </body>
</html>