{% extends 'tracker/base.html' %}
{% load humanize %}

{% block content %}
    <nav class="navbar navbar-light justify-content-between">
    </nav>

    {% if latest_post_list %}
        {% for post in latest_post_list %}
            <div class="card mb-3" style="width: 100%;">
                <div class="card-body">
                    <div class="d-flex flex-row justify-content-between align-items-start">
                        <div class="flex-item">
                            <a class="custom-header" style="font-size: 1.25rem;" href="{{ post.url }}">{{ post.title }}</a><br>
                            <a class="badge badge-info" style="font-size: 0.75rem; margin-top:5px;" href="{% url 'tracker:tracker_list' %}">{{ post.tracker.name }}</a>
                        </div>
                        <div class="flex-item">
                            <a class="btn btn-sm btn-outline-secondary" href="{% url 'tracker:post_detail' post.uuid %}" role="button">Show Details</a>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        {% if post.main_image|length > 0 %}
                        <div class="col-lg-2 col-md-3 d-none d-md-block">
                            <a href="{{ post.url }}" class="custom-card">
                                <img src="{{ post.main_image }}">
                            </a>
                        </div>
                        
                        <div class="d-flex flex-column col-lg-10 col-md-9 col-sm-12 col-12">
                        {% else %}
                        <div class="d-flex flex-column col-lg-12 col-md-12 col-sm-12 col-12">
                        {% endif %}
                            <div>
                                <p class="card-text">{{ post.text|truncatechars:350 }}</p>
                            </div>
                            <div class="justify-content-end" style="margin-top: auto; margin-left:auto;">
                                <span style="font-size: 0.75rem;">
                                    {{ post.author|title }} | 
                                    <a href="http://{{ post.site_full }}">{{ post.site_full|slice:"4:" }}</a> | 
                                    {{ post.published|naturaltime }}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>No posts are available.</p>
    {% endif %}
{% endblock %}