{% extends 'tracker/base.html' %}
{% load humanize %}
{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{% static 'tracker/css/post_list.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'tracker/css/animate.min.css' %}" />
{% endblock %}

{% block content %}
    <hr>
    <form action="{% url 'tracker:post_list' %}" method="get" accept-charset="utf-8">
        <div class="d-flex flex-row customNav">
            <div class="input-group input-group-sm nav-el">
                <input class="form-control" id="post_searchbox" name ="q" type="text" placeholder="Search" {% if q %}value="{{ q }}" {% endif %}>
                <div class="input-group-append">
                    <button class="btn btn-outline-primary" type="submit">Search</button>
                </div>
            </div>
        </div>

        {% for filter in filters %}
            {% if filter.selected %}
                <input id="filter_{{ filter.type }}" type="hidden" name="{{ filter.type }}" value="{{ filter.selected }}">
            {% else %}
                <input id="filter_{{ filter.type }}" type="hidden" name="{{ filter.type }}" value="">
            {% endif %}
        {% endfor %}
    </form>

    <div class="col-lg-12 text-center">
        <a id="filters-toggle" href="#" style="font-size: 0.8rem; color:gray;"><em>Showing {{ total }} posts</em></a>
    </div>

    <div class="collapse" id="filters">
        <div class="d-flex flex-row justify-content-center align-items-center" style="margin-top: 1rem;">
            {% for filter in filters %}
                <div id="{{ filter.type }}" class="d-flex flex-column">
                    {% for option in filter.counts %}
                        {% if filter.selected %}
                            {% if option.id == filter.selected %}
                                <button class="btn filter filter-selected" data-id="{{option.id}}">{{ option.name }}: {{ option.count }}</button>
                            {% else %}
                                <button class="btn filter filter-disabled" data-id="{{option.id}}" disabled>{{ option.name }}: {{ option.count }}</button>
                            {% endif %}
                        
                        {% else %}
                            <button class="btn filter" data-id="{{option.id}}">{{ option.name }}: {{ option.count }}</button>
                        {% endif %}
                    {% endfor %}
                </div>
            
                {% if not forloop.last %}
                    <div class="separator"></div>
                {% endif %}          
            {% endfor %}
        </div>
    </div>
    <hr>
    
    {% if filtered_posts %}
        {% include 'tracker/post_list_page.html' %}
        <div id="post-list-anchor"></div>
    {% else %}
        <div class="col-lg-12 no-data">
            <em>No posts are available.</em>
        </div>
    {% endif %}
    
    <div class="col-lg-12 text-center loading" style="display: none;">
        <em>Loading...</em>
    </div>
    
{% endblock %}

{% block javascript %}
  <script>
    var current_page_number = 1;
    var hasNextPage = true;

    $(document).ready(function(){     
        $(window).bind('scroll', loadOnScroll);
    });

    var loadOnScroll = function() {
        // If the current scroll position is past out cutoff point...
        if ($(window).scrollTop() > ($(document).height()-2000)) {
            // temporarily unhook the scroll event watcher so we don't call a bunch of times in a row
            $(window).unbind(); 
            // execute the load function below that will visit the JSON feed and stuff data into the HTML
            loadItems();
        }
    };

    var loadItems = function() {
        if (hasNextPage) {
            $('.loading').show();
            var formElement = document.querySelector("form");
            var formData = new FormData(formElement);
            formData.append("page", current_page_number + 1);
            
            var query = '';
            for (var [key, value] of formData.entries()) { 
                query += key + '=' + value + '&';
            }
            // Configure the url we're about to hit
            $.ajax({
                type: 'GET',
                url: "{% url 'tracker:post_list' %}?" + query,
                success: function(data) {
                    $('#post-list-anchor').before(data);
                    current_page_number += 1;
                },
                error: function(data) {
                    hasNextPage = false;
                },
                complete: function(data, textStatus){
                    // Turn the scroll monitor back on
                    $(window).bind('scroll', loadOnScroll);
                    $('.loading').hide();
                }
            });
        }
        else {
            return false;
        }
    };

    $('#filters').collapse({
        toggle: false
    })

    $('.fas').on('click', function(e) {
        e.preventDefault();
        
        let action;
        if ($(this).hasClass('fa-star')) action = 'toggle_star';
        else if ($(this).hasClass('fa-times')) action = 'toggle_removed';
        else if ($(this).hasClass('fa-check')) action = 'toggle_read';

        $.ajax({
            type: "POST",
            url: "{% url 'tracker:set_user_attr' %}",
            data: {
                'post_id': $(e.target).parent().parent().data('postid'),
                'user_id': 1,
                'action': action,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            dataType: 'json',
            success: function (data) {
                star_el = $(e.target).parent().parent().find(".fa-star");
                check_el = $(e.target).parent().parent().find(".fa-check");
                times_el = $(e.target).parent().parent().find(".fa-times");

                post_el = $(e.target).parent().parent().parent();

                if (data.starred === 'true') star_el.addClass('starred');
                else if (data.starred === 'false') star_el.removeClass('starred');
                
                if (data.read === 'true') check_el.addClass('read');
                else if (data.read === 'false') check_el.removeClass('read');

                if (data.removed === 'true') {
                    times_el.addClass('removed');
                    post_el.animateCss('fadeOutRight', function () {
                        post_el.remove();
                    });
                }
                else if (data.removed === 'false') times_el.removeClass('removed');
            },
            error: function (data) {
                console.log(data);
            }
        });
    });

    $("#post_searchbox").on("focus", function() {
        $("#filters").collapse('show');
    });

    $(document).on("click", function(e) {
        if ($(e.target).hasClass("filter")) {
            return;
        }
        else if ($(e.target).parent().attr('id') === 'filters-toggle') {
            $("#filters").collapse('toggle');
        }
        else if (e.target.id !== 'post_searchbox') {
            $("#filters").collapse('hide');
        }
        
    });

    $(".filter").on("click", function(e) {
        var filterType = $(e.target).parent().attr('id');
        var options = $(e.target).siblings();

        if (!$(e.target).hasClass('filter-disabled')) {
            if ($(e.target).hasClass('filter-selected')) {
                $(e.target).removeClass('filter-selected');
                $("#filter_" + filterType).val("");

                $(options).removeClass('filter-disabled').prop('disabled', false);
            }
            else {
                $(e.target).addClass('filter-selected');
                $("#filter_" + filterType).val($(e.target).data('id'));

                $(options).addClass('filter-disabled').prop('disabled', true);
            }
        }
    });

  </script>
{% endblock %}