{% extends 'tracker/base.html' %}
{% load humanize %}
{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{% static 'tracker/css/post_list.css' %}" />
{% endblock %}

{% block content %}
    <hr>
    <form class="d-flex flex-row customNav" action="{% url 'tracker:post_list' %}" method="get" accept-charset="utf-8">
        <div class="input-group input-group-sm nav-el">
            <input class="form-control" id="post_searchbox" name ="q" type="text" placeholder="Search" {% if q %}value="{{ q }}" {% endif %}>
            <div class="input-group-append">
                <button class="btn btn-outline-primary" type="submit">Search</button>
            </div>
        </div>
    </form>

    <div class="col-lg-12 text-center">
        <a id="filters-toggle" href="#" style="font-size: 0.8rem; color:gray;"><em>Showing {{ total }} posts</em></a>
    </div>
    
    <div id="filters" style="display: none;">
        <div class="d-flex flex-row">
            <div class="d-flex flex-column">
                
                <button class="btn filter" type="submit">Today</button>
                <button class="btn filter" type="submit">Last Week</button>
            </div>
        </div>
    </div>

    <hr>
    
    {% if latest_post_list %}
        <div class = "infinite-container">
            {% for post in latest_post_list %}
                <div class="d-flex flex-row infinite-item" style="margin-left: 0px; margin-right: 0px;">
                    <div class="card flex-item">
                        <div class="card-body">
                            <div class="d-flex flex-row justify-content-between align-items-start">
                                <div class="flex-item">
                                    <a class="custom-header" style="font-size: 1.1rem;" href="{{ post.url }}">{{ post.title }}</a><br>
                                    {% for tracker in post.trackers.all %}
                                        <a class="badge badge-info" style="font-size: 0.6rem; margin-top:5px; background-color:{{ tracker.color }};" href="{% url 'tracker:tracker_list' %}">{{ tracker.name }}</a>
                                    {% endfor %}
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                {% if post.main_image|length > 0 %}
                                <div class="col-lg-3 col-md-3 d-none d-md-block">
                                    <a href="{{ post.url }}" class="custom-card">
                                        <img src="{{ post.main_image }}">
                                    </a>
                                </div>
                                
                                <div class="d-flex flex-column col-lg-9 col-md-9 col-sm-12 col-12">
                                {% else %}
                                <div class="d-flex flex-column col-lg-12 col-md-12 col-sm-12 col-12">
                                {% endif %}
                                    <div>
                                        <a class="custom-header" href="{% url 'tracker:post_detail' post.uuid %}">
                                            <p class="card-text" style="font-size: 0.9rem;">{{ post.text|truncatechars:450 }}</p>
                                        </a>
                                    </div>
                                    <div class="justify-content-end" style="margin-top: auto; margin-left:auto;">
                                        <span style="font-size: 0.75rem;">
                                            {{ post.author|title }} | 
                                            <a href="http://{{ post.site_full }}">{{ post.site_full|slice:"4:" }}</a> | 
                                            {{ post.published|naturaltime }}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex flex-column justify-content-center align-items-center action-panel" data-postid="{{ post.uuid }}">
                        <a class="action-item" href="#"><i class="fas fa-star fa-fw {% if post.starred == 'true' %} starred {% endif %}" style="font-size: 1rem;"></i></a>
                        <a class="action-item" href="#"><i class="fas fa-check fa-fw {% if post.read == 'true' %} read {% endif %}" style="font-size: 1rem;";></i></a>
                        <a class="action-item" href="#"><i class="fas fa-times fa-fw {% if post.irrelevant == 'true' %} irrelevant {% endif %}" style="font-size: 1.1rem;";></i></a>
                    </div>
                </div>
                
                    
                
            {% endfor %}
        </div>
    {% else %}
        <p>No posts are available.</p>
    {% endif %}
    
    {% comment %} <div class="loading" style="display: none;">
        Loading...
    </div>

    {% if latest_post_list.has_next %}
        <a class="infinite-more-link" href="?page={{ latest_post_list.next_page_number }}">More</a>
    {% endif %} {% endcomment %}
    
{% endblock %}

{% block javascript %}
  <script>
    /*
    var infinite = new Waypoint.Infinite({
        element: $('.infinite-container')[0],
        onBeforePageLoad: function () {
            console.log($('.infinite-container')[0],"onBefore");
            $('.loading').show();
        },
        onAfterPageLoad: function ($items) {
            console.log($('.infinite-container')[0],"onAfter");
            $('.loading').hide();
        }
    });
    */

    $('.fas').on('click', function(e) {
        e.preventDefault();
        
        let action;
        if ($(this).hasClass('fa-star')) action = 'toggle_star';
        else if ($(this).hasClass('fa-times')) action = 'toggle_irrelevant';
        else if ($(this).hasClass('fa-check')) action = 'toggle_read';

        $.ajax({
            type: "POST",
            url: "{% url 'tracker:set_user_attr' %}",
            data: {
                'post_id': $(e.target).parent().parent().data('postid'),
                'user_id': 1,
                'action': action,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            dataType: 'json',
            success: function (data) {
                if (data.starred === 'true') $(e.target).addClass('starred');
                else if (data.starred === 'false') $(e.target).removeClass('starred');
                
                if (data.read === 'true') $(e.target).addClass('read');
                else if (data.read === 'false') $(e.target).removeClass('read');

                if (data.irrelevant === 'true') $(e.target).addClass('irrelevant');
                else if (data.irrelevant === 'false') $(e.target).removeClass('irrelevant');
            },
            error: function (data) {
                console.log(data);
            }
        });
    });

    $("#post_searchbox").on("focus", function() {
        $("#filters").slideDown("fast");
    });

    $(document).on("click", function(e) {
        if ($(e.target).parent().attr('id') === 'filters-toggle') {
            $("#filters").slideToggle("fast");
        }
        else if (e.target.id !== 'post_searchbox') {
            $("#filters").slideUp("fast");
        }
    });

  </script>
{% endblock %}