{% extends 'tracker/base.html' %}
{% load humanize %}

{% block content %}
    <hr>
    <nav class="d-flex flex-row justify-content-end customNav">
        <div class="flex-item">
            <button class="btn btn-sm btn-outline-primary" type="submit">Refresh All</button>
        </div>
        <div class="flex-item">
            <button class="btn btn-sm btn-outline-primary" type="button" data-toggle="modal" data-target="#addTrackerModal">Add Tracker</button>
        </div>
    </nav>
    <hr>
    
    {% if tracker_list %}
        {% for tracker in tracker_list %}
            <div class="card mb-3" style="width: 100%;">
                <div class="card-body">
                    <div class="d-flex flex-row justify-content-between">
                        <div class="flex-item mr-auto">
                            <a class="custom-header">{{ tracker.name }}</a>
                        </div>
                        <div class="flex-item">
                            <form style="margin-bottom: 0px;" action="{% url 'tracker:delete' tracker.id %}" method="post">
                                {% csrf_token %}
                                <button class="btn btn-sm btn-outline-danger" type="submit">Delete</button>
                            </form>
                        </div>
                        <div class="flex-item">
                            <button class="btn btn-sm btn-outline-primary" type="button" data-toggle="modal" data-target="#editTrackerModal" data-id="{{ tracker.id }}" data-name="{{ tracker.name }}" data-query="{{ tracker.query }}">Edit</button>
                        </div>
                        <div class="flex-item">
                            <form style="margin-bottom: 0px;" action="{% url 'tracker:refresh' tracker.id %}" method="post">
                                {% csrf_token %}
                                <button class="btn btn-sm btn-outline-primary" type="submit">Refresh</button>
                            </form>
                        </div>
                    </div>
                    <hr>
                    <span class="card-text">
                        {{ tracker.query }}
                    </span>
                    <p class="text-right" style="font-size: 12px; margin-bottom: 0px;">{{ tracker.created_by }} | modified {{ tracker.last_modified|naturaltime }} | updated {{ tracker.last_updated|naturaltime }}</p>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>No trackers are available.</p>
    {% endif %}
    <div class="modal fade" id="addTrackerModal" tabindex="-1" role="dialog" aria-labelledby="addTrackerModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addTrackerModalLabel">Add new tracker</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="{% url 'tracker:add' %}" method="post">
                    {% csrf_token %}
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="tracker-name" class="col-form-label">Tracker Name:</label>
                            <input type="text" class="form-control" id="tracker-name" name="tracker-name">
                        </div>
                        <div class="form-group">
                            <label for="query" class="col-form-label">Query:</label>
                            <textarea class="form-control" id="query" name="query"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-outline-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="editTrackerModal" tabindex="-1" role="dialog" aria-labelledby="editTrackerModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editTrackerModalLabel">Edit tracker</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="{% url 'tracker:edit' %}" method="post">
                    {% csrf_token %}
                    <div class="modal-body">
                        <div class="form-group">
                            <input type="text" class="form-control" id="tracker-id" name="tracker-id">
                        </div>
                        <div class="form-group">
                            <label for="tracker-name" class="col-form-label">Tracker Name:</label>
                            <input type="text" class="form-control" id="tracker-name" name="tracker-name">
                        </div>
                        <div class="form-group">
                            <label for="query" class="col-form-label">Query:</label>
                            <textarea class="form-control" id="query" name="query"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-outline-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        $('#editTrackerModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var id = button.data('id') // Extract info from data-* attributes
            var name = button.data('name') // Extract info from data-* attributes
            var query = button.data('query') // Extract info from data-* attributes
            
            var modal = $(this)
            modal.find('#tracker-id').val(id)
            modal.find('#tracker-name').val(name)
            modal.find('#query').val(query)
        });
    </script>
{% endblock %}