{% extends 'tracker/base.html' %}
{% load humanize %}

{% block content %}
    <nav class="navbar navbar-light justify-content-between" style="border-radius: 10px; background-color: #e3f2fd;">
        <a class="navbar-brand">Trackers</a>
        <form class="form-inline" style="margin-bottom: 0px;">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
        </form>
    </nav>

    {% if tracker_list %}
        {% for tracker in tracker_list %}
            <div class="card mb-3" style="width: 100%;">
                <div class="card-body">
                    <div class="d-flex flex-row justify-content-between">
                        <div class="flex-item mr-auto">
                            <a class="custom-header" style="font-size: 1.25rem;">{{ tracker.name }}</a>
                        </div>
                        <div class="flex-item">
                            <form style="margin-bottom: 0px;" action="{% url 'tracker:refresh' tracker.id %}" method="post">
                                {% csrf_token %}
                                <button class="btn btn-sm btn-outline-primary" type="submit">Refresh</button>
                            </form>
                        </div>
                        <div class="flex-item">
                            <form style="margin-bottom: 0px;" action="{% url 'tracker:refresh' tracker.id %}" method="post">
                                {% csrf_token %}
                                <button class="btn btn-sm btn-outline-danger" type="submit">Delete</button>
                            </form>
                        </div>
                    </div>
                    <hr>
                    <span class="card-text">
                        {{ tracker.query }}
                    </span>
                    <p class="text-right" style="font-size: 12px; margin-bottom: 0px;">{{ tracker.created_by }} | {{ tracker.last_modified|naturaltime }}</p>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>No trackers are available.</p>
    {% endif %}
{% endblock %}