img {
    object-fit: cover;
    width: 100%;
    max-height: 7rem;
}

.card {
    width: 100%;
}

.post-card {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    margin-left: 0px;
    margin-right: 0px;
}

.fas {
    color: #cdd3da;
}

.action-item {
    padding: 0.5rem 0;
}

.fa-star:hover {
    color: #f1c40f;
}

.fa-check:hover {
    color: #27ae60;
}

.fa-times:hover {
    color: #e74c3c;
}

.action-panel {
    background-color: #f5f6fa;
    border-radius: 0.25rem;
    width: 2.5rem;
    padding: 0.5rem;
    position: absolute;
    right: -2rem;
}

.starred {
    color: #f1c40f;
}

.read {
    color: #27ae60;
}

.removed {
    color: #e74c3c;
}

.filter {
    border: 0;
    font-size: 0.75rem;
    background-color: white;
    color: #7f8c8d;
    margin: 0;
}

.filter-selected {
    color: #3498db;
}

.filter-disabled {
    color: #bdc3c7;
}

.loading {
    color: gray;
    font-size: 0.8rem;
    margin-bottom: 1rem;
}