html, body {
  font-family: Lato;
}

a.custom-header,
a.custom-header:hover {
  color: inherit;
  text-decoration: none !important;
  font-size: 1.25rem;
}

body {
  padding-top: 4rem;
}

.flex-item {
  padding: 0 0.25rem;
}

.flex-row {
  margin: 0 -0.25rem;
}

.customNav {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.nav-el {
  padding: 0 0.25rem;
  margin-bottom: 0;
}

.modal-footer {
  padding-bottom: 0;
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

.navbar-container {
  max-width: 940px; 
  padding:0; 
}

.no-data {
  color: gray;
  font-size: 0.8rem;
  margin-top: 1rem;
}