.card {
    width: 100%;
}

.post-card {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    margin-left: 1.5rem;
    margin-right: 0px;
    
}

.section-line {
    background-color: #bdc3c7;
    width: 2px;
    margin: -0.5px 0.5rem;
}

.category-header {
    margin-top: 1.5rem;
}

.btn {
    padding: 2px 6px;
}

.color-dot {
    height: 2rem;
    width: 2rem;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.color-dot-sm {
    height: 1rem;
    width: 1rem;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.color-swatch {
    height: 1rem;
    width: 3rem;
    background-color: #bbb;
    border-radius: 5px;
    display: inline-block;
}

.color-dot-clickable:hover {
    border: 1px solid #7f8c8d;
    cursor: pointer;
}

.dropdown-menu {
    padding:10px;
}