.card {
    width: 100%;
}

.post-card {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    margin-left: 0px;
    margin-right: 0px;
}

.section-line {
    background-color: #bdc3c7;
    width: 2px;
    margin: -0.5px 0.5rem;
    height: 100%;
}

.category-header {
    margin-top: 1.5rem;
}

.btn {
    padding: 2px 6px;
}

.swatch {
    width: 4.5rem;
    height: 1.5rem;
    border: 1px solid #bdc3c7;
}

.swatch-clickable:hover {
    border: 1px solid #7f8c8d;
    cursor: pointer;
}

.dropdown-menu {
    padding:10px;
}